@use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.festival {
    background-color: rgba(159, 134, 192, 0.2);
    padding: 1rem;
    &__top {
        text-align: center;
        margin-bottom: 2rem;
        &-title {
            padding: 1rem;
        }
        &-subtitle {
            font-style: italic;
        }
    }

    &__card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 2rem;
        justify-content: center;
        align-items: start;
        padding: 1rem;
    }

    &__card {
        background: #f9f9f9;
        padding: 2rem;
        border-radius: 0.75rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }

    &__card-title {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: #333;
    }

    &__card-location {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: #555;
    }

    &__card-dates {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #666;
    }

    &__card-link {
        font-size: 1.2rem;
        color: $dark-pink;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            color: $purple;
        }
    }

    &__loading,
    &__error {
        text-align: center;
        font-size: 1.5rem;
        color: #ff4d4d;
    }
}
