@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

/*Type Kit*/
//Desktop + Tablet
@mixin page-header {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}

@mixin sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin buttons-labels {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
}

@mixin table-header {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin body-large {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
}

@mixin body-medium {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin body-small {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
}

/*Mobile Type Kit*/
@mixin mobile__page-header {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
}

@mixin mobile__sub-header {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

@mixin mobile__buttons-labels {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 600;
}

@mixin mobile__table-header {
    font-size: .6875rem;
    line-height: 1rem;
    font-weight: 600;
}

@mixin mobile__body-large {
    font-size: 0.938rem;
    line-height: 1.625rem;
    font-weight: 400;
}

@mixin mobile__body-medium {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 400;
}

@mixin mobile__body-small {
    font-size: 0.688rem;
    line-height: 1rem;
    font-weight: 400;
}
