$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$dark-purple: #231942;
$purple: #5E548E;
$light-purple: #9F86C0;
$dark-pink: #BE95C4;
$pink: #E0B1CB;
$white: #ffffff;

$slate: #5c667e;
$cloud: #bdc5d5;

$graphite: #232940;
$light-grey: #f7f8f9;

$green: #158463;
$red: #c94515;
