@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PathwayExtreme";
}
body {
    margin: 0;
    display: block;
}
#root {
    all:unset;
}