@use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.homepage {
    background-color: $dark-purple;
    width: 100vw;

    &__button-container {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 2.5rem;
        padding-bottom: 10rem;
        column-gap: 1.5rem;
    }

    &__button {
        @include buttons-labels;
        padding: 1rem;
        border: 1px solid $dark-purple;
        background-color: $pink;
        width: 100%;
        color: $dark-purple;
        transition: all 0.3s ease; 

        &:hover {
            background-color: $dark-purple; 
            color: $white; 
            border: 1px solid $pink; 
            transform: scale(1.05); 
        }
    }
}
